
.jumbotron {
  text-align: center;
  margin: 2px;
  padding: 2px;
  margin-bottom: 4px;
  /*margin-top: 20px;*/
}

img {
  float: right;
  padding-left: 20px;
}

.text  {
  color: #00080A;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}
h2 {
  text-align: center;
}

.portland {
  color: blue;
  font-family: cursive;
}


body {
  /*background-image: url(../img/animus-mix.gif);*/
  background-color: #A9AAAB;
}
