
.text  {
  color: #00080A;
  margin-top: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
}

.text1 {
  font-size: 18px;
  font-style: oblique;

}

.text2 {
  text-align: center;
  font-size: 18px;
}

.portland {
  color: blue;
  font-family: cursive;
}

h4 {
  text-align: center;
  font-size: 2em;
}

.container h2 {
  text-align: center;
  border: 3px solid gold;
}

.jumbotron {
  text-align: center;
  margin: 2px;
  padding: 2px;
  margin-bottom: 4px;
  /*margin-top: 20px;*/
}

img {
  float: right;
  padding-left: 20px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

body {
  /*background-image: url(../img/animus-mix.gif);*/
  background-color: #A9AAAB;
}
